/* Plik z css. Arkusz styów*/

body
{
	background-color: #303030;
	color: #ffffff;
	font-size: 20px;
} 

#container
{
	width: 1000px;
	margin-left: auto; /*wyśrodkowanie diva*/
	margin-right: auto;	/*wyśrodkowanie diva*/
}